<section class="main-layout container-fluid">
  <div class="layer">
    <div class="container pt-5">
      <div class="row carousel-section">
        <div class="col-12 mt-5">
          <owl-carousel-o [options]="MainCursel">
            <ng-template carouselSlide>
              <div class="row grid-divider">
                <div class="col-6">
                  <img
                    src="../assets/images/Group 21416.svg"
                    height="400"
                    width="400"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="col-6 m-auto text-white">
                  <h1 class="fw-bold">AIC Objectives</h1>
                  <p>
                    Use the most appropriate technologies to develop and pilot
                    innovative solutions in key application domains.Train and
                    develop highly skilled professionals in advanced ICT fields,
                    such as AI, Big Data Analytics, High Performance Computing,
                    Automation and Robotics, Internet of Things, Cybersecurity,
                    Data Privacy
                  </p>
                  <button class="btn p-3 w-25"><b> Show More </b></button>
                  <div class="row mt-3 m-0 stepper">
                    <div class="col-2 loaded"></div>
                    <div class="col-1 loading"></div>
                  </div>
                  <h2>
                    <b> 01 </b>
                  </h2>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="row grid-divider">
                <div class="col-6">
                  <img
                    src="../assets/images/Group 21416.svg"
                    height="400"
                    width="400"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="col-6 m-auto text-white">
                  <h1 class="fw-bold">AIC Objectives</h1>
                  <p>
                    Use the most appropriate technologies to develop and pilot
                    innovative solutions in key application domains.Train and
                    develop highly skilled professionals in advanced ICT fields,
                    such as AI, Big Data Analytics, High Performance Computing,
                    Automation and Robotics, Internet of Things, Cybersecurity,
                    Data Privacy
                  </p>
                  <button class="btn p-3 w-25"><b> Show More </b></button>
                  <div class="row mt-3 m-0 stepper">
                    <div class="col-2 loaded"></div>
                    <div class="col-1 loading"></div>
                  </div>
                  <h2>
                    <b> 02 </b>
                  </h2>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div>
      <div class="row highlights-section mt-5">
        <div class="col-12 d-flex align-items-center">
          <h1 class="text-white mx-3">AIC Highlights</h1>
          <span class="cursor-pointer" (click)="highlightCar.next()">
            <i class="fa-solid fa-arrow-left mx-2"></i>
          </span>
          <span class="cursor-pointer" (click)="highlightCar.prev()">
            <i class="fa-solid fa-arrow-right mx-2"></i
          ></span>
        </div>
        <div class="col-12">
          <owl-carousel-o [options]="highlightCarousel" #highlightCar>
            <ng-template carouselSlide [width]="367">
              <div class="card">
                <img
                  src="../assets/images/alex-knight-2EJCSULRwC8-unsplash.png"
                  class="card-img-top p-3"
                  height="220"
                  alt="..."
                />
                <div class="card-body">
                  <p class="text-muted">Wednesday, January 13</p>
                  <h5 class="card-title">
                    Facial Emotion Recognition and Detection
                  </h5>
                  <p class="card-text">
                    Artificial Intelligence (AI) and specifically, data-driven
                    methods s Machine Learning are a promising radical
                    transformation of the economic and social systems worldwide.
                    It helps people make better predictions and decisions. By
                    2030, AI is forecast to add $15 trillion to global economy.
                  </p>
                  <p class="card-end">- DISCOVER MORE</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide [width]="367">
              <div class="card">
                <img
                  src="../assets/images/alex-knight-2EJCSULRwC8-unsplash-1.png"
                  class="card-img-top p-3"
                  height="220"
                  alt="..."
                />
                <div class="card-body">
                  <p class="text-muted">Wednesday, January 13</p>
                  <h5 class="card-title">
                    Facial Emotion Recognition and Detection
                  </h5>
                  <p class="card-text">
                    Artificial Intelligence (AI) and specifically, data-driven
                    methods s Machine Learning are a promising radical
                    transformation of the economic and social systems worldwide.
                    It helps people make better predictions and decisions. By
                    2030, AI is forecast to add $15 trillion to global economy.
                  </p>
                  <p class="card-end">- DISCOVER MORE</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide [width]="367">
              <div class="card">
                <img
                  src="../assets/images/alex-knight-2EJCSULRwC8-unsplash-1.png"
                  class="card-img-top p-3"
                  height="220"
                  alt="..."
                />
                <div class="card-body">
                  <p class="text-muted">Wednesday, January 13</p>
                  <h5 class="card-title">
                    Facial Emotion Recognition and Detection
                  </h5>
                  <p class="card-text">
                    Artificial Intelligence (AI) and specifically, data-driven
                    methods s Machine Learning are a promising radical
                    transformation of the economic and social systems worldwide.
                    It helps people make better predictions and decisions. By
                    2030, AI is forecast to add $15 trillion to global economy.
                  </p>
                  <p class="card-end">- DISCOVER MORE</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide [width]="367">
              <div class="card">
                <img
                  src="../assets/images/alex-knight-2EJCSULRwC8-unsplash.png"
                  class="card-img-top p-3"
                  height="220"
                  alt="..."
                />
                <div class="card-body">
                  <p class="text-muted">Wednesday, January 13</p>
                  <h5 class="card-title">
                    Facial Emotion Recognition and Detection
                  </h5>
                  <p class="card-text">
                    Artificial Intelligence (AI) and specifically, data-driven
                    methods s Machine Learning are a promising radical
                    transformation of the economic and social systems worldwide.
                    It helps people make better predictions and decisions. By
                    2030, AI is forecast to add $15 trillion to global economy.
                  </p>
                  <p class="card-end">- DISCOVER MORE</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide [width]="367">
              <div class="card">
                <img
                  src="../assets/images/alex-knight-2EJCSULRwC8-unsplash.png"
                  class="card-img-top p-3"
                  height="220"
                  alt="..."
                />
                <div class="card-body">
                  <p class="text-muted">Wednesday, January 13</p>
                  <h5 class="card-title">
                    Facial Emotion Recognition and Detection
                  </h5>
                  <p class="card-text">
                    Artificial Intelligence (AI) and specifically, data-driven
                    methods s Machine Learning are a promising radical
                    transformation of the economic and social systems worldwide.
                    It helps people make better predictions and decisions. By
                    2030, AI is forecast to add $15 trillion to global economy.
                  </p>
                  <p class="card-end">- DISCOVER MORE</p>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>

      <div class="row mt-5 contactus-section position-relative">
        <div class="col-12 text-center">
          <h1><b> Contact us </b></h1>

          <p class="w-50 m-auto">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
            itaque quis quibusdam distinctio totam. Quis dicta ducimus dolor
            sunt, obcaecati dolore ipsa voluptatibus unde quod similique quidem
            tempora placeat accusantium!
          </p>
          <p>
            <button class="btn mt-3">CONTACT US</button>
          </p>
          <img
            src="../assets/images/Group 21416.svg"
            class="img-fluid mt-4"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
